.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 100px;
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(139, 63, 0), rgb(171, 46, 233)) 1;
}
h1 {
  flex: 1;
}

.btn-group {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 3px;
}

button {
  background-color: salmon;
  border: none;

  margin-bottom: 1rem;
  color: white;
  text-align: center;
  padding: 3px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(202, 24, 24);
  padding: 4px;
  transition: all;
  animation: forwards;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
